
.icon-cancel-circled:before { content: '\e800'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-firefox:before { content: '\f269'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */